<div id="banner">
	<div class="outline"></div>
	
	
	<!-- <img class="retina" src="./frames/f6.jpg" alt="" inline /> -->
	<img id="grey"  src="./images/grey.jpg" alt="" inline/>
	<img id="bg" class="retina" src="./images/flag.jpg" alt="" inline/>

	
	
	<div class="frame frame1">		
		
		<p id="end">
			Original reporting from Canada’s most authoritative newsroom
		</p>

		<img id="cta" class="retina" src="./images/cta.png" alt="" inline>
		<div id="super">
			<p id="t0" class="red">Journalism</p>
			<p id="t1" class="red dash">|</p>
			<p id="t2" class="clipmask">that gives you a window</p>
			<p id="t3" class="clipmask">into your neighbour</p>
			<p id="t4" class="clipmask"></p>
			<p id="t5" class="red dash">|</p>
			<p id="t6" class="red">
				<span>matters.</span>
			</p> 
		</div>

		<img id="logo" class="retina" src="./images/logo.jpg" inline/>

	</div>
	
</div>